.custom-image{
    @media (max-width: 550px) {
        order:1;
        margin:auto;
    }
    width: 150px;
}
.custom-flex {
    @media (max-width: 550px) {
        flex-direction: column;
    }
}

.custom-title {
    @media (min-width: 550px) {
        display: flex;
        flex-direction: row;
        h1 {
            margin-right: 12px;
        }
    }
    @media (max-width: 550px) {
        order:2;
    }

}